<!DOCTYPE html>
<html lang="en">
<head>
	<!--favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
  
	  <meta charset="UTF-8">
	  <title>WebDocX</title>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboardDoc.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
	  <script type="text/javascript" src="/scripts/dashboardDoc.js"></script>
	  <script type="text/javascript" src="/scripts/nav.js"></script>
	<script type="text/javascript" src="/scripts/speechrecog.js"></script>
</head>
<body>
    chat
    <%- include('\consultation.ejs'); %>
</body>
</html>