<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WebDocX</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<h1>Doctor Dashboard</h1>
	<li><a href="/update">Update</a></li>
	<li><a href="/logout">Logout</a></li>
</body>
</html>