<!DOCTYPE html>
<html lang="en">
<head>
<!--favicon-->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">

	<meta charset="UTF-8">
	<title>WebDocX</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboardPat.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
	<script type="text/javascript" src="/scripts/speechrecog.js"></script>
	<script type="text/javascript" src="/scripts/nav.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script>
	function path(){
		document.getElementById('change').action=window.location.pathname;
	}
	function error(){
		var pass=document.getElementById('pwd').value;
		var fpass=document.getElementById('fpwd').value;
		if(pass!="" && fpass!="" && pass==fpass){
			document.getElementById('sub').type="submit";
			document.getElementById("sub").style.backgroundColor="green";
		}
		else{
			if(pass==""){
				document.getElementById('pwd').style.backgroundColor="red";
			}
			else if(fpass==""){
				document.getElementById('fpwd').style.backgroundColor="red";
			}
			else if(pass==fpass){
				document.getElementById('no').style.display="block";
			}
			else if(pass==fpass){
				document.getElementById('no').style.display="none";
			}
		}
		}
	</script>
</head>
<body onload="path()">
<!--Alert messages and notification-->
<div class="notification card" style="display:none;" id="notification">
	<% if (errorMessage && errorMessage.length > 0) { %>
	  <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#f8d7da';document.getElementById('notification').style.backgroundImage='none';</script>
	  <span style="color:#721c24;">
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i><b><%= errorMessage %></b>
	  </span><br>
	<% } %>

	<% if (successMessage && successMessage.length > 0){ %>
	  <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#d4edda';document.getElementById('notification').style.backgroundImage='none';</script>
	  <span style="color:#155724;">
		<i class="fa fa-check" aria-hidden="true"></i><b><%= successMessage %></b>
	  </span><br>
	<% } %>
	<span onclick="document.getElementById('notification').style.display='none'" class="close" title="Close Modal">&times;</span>
  </div>
  <div class="col" id="update" style=" position:absolute;width:50%;left:25%;top:30%;">
	<form class="card" id="change" style=" width:93%; margin-bottom: 10px;border-radius: 10px;padding:20px;" action="" method="Post">
		<h1 style="margin-left:20%">Change Your Password</h1>
		<input type="password" placeholder="Enter New Password" id="pwd" name="password" style="width:40%;float:left;" onchange="error()" required>
		<input type="password" placeholder="Confirm New Password" id="fpwd" name="confirmpassword" style="width:40%;float:left;" onchange="error()" required><br>
		<span id="no" style="display:none;color:red;">Passwords Should Match!</span><br>
		<button id="sub" type="button" class="sub">Change Password</button>
	</form>
</div>
	<button onclick="topFunction()" id="myBtn" title="Go to top" style="visibility: hidden;"><b>&uarr;</b></button>
</body>
</html>