<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WebDocX</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<h1>Update</h1>
		<% var image = myAccount.profilePic.data.toString('base64'); %>
		<% var type = myAccount.profilePic.contentType; %>
		<img src="data:<%= type %>;base64,<%= image %>" />
		<li><%= myAccount.email %></li>
		<li><%= myAccount.name %></li>
</body>
</html>