body {
	font-family: Arial;
	margin:0px;
	padding: 0px;
	border: 0px;
  }
.col-container {
    display: table;
    width: 100%;
  }
  .col {
    display: table-cell;
    padding: 16px;
  }
  
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .avatar {
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .form-container{
      position:relative;
  }
  .form-container input[type=text], .form-container input[type=password], .form-container input[type=file], .form-container textarea {
	width:100px;
	padding: 15px;
	margin: 5px 10px 0px 10px;
	border: none;
	background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container textarea:focus {
	background-color: #ddd;
	outline: none;
  }
  

  /*round button*/
  .roundbtn{
    font-size: large;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-width: 0px;
  }

  /* Set a style for the submit/login button */
  .cnfbtn{
    position:absolute;
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100px;
	margin-bottom:10px;
    opacity: 0.8;
    top:-50px;
    left:90%;
  }

  .form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
	background-color: red;
  }
  .addbtn{
	background-color: transparent;
	color: black;
	font-size: medium;
	padding: 15px 5px;
	border: none;
	cursor: pointer;
	width: 50px;
	margin-bottom:10px;
	opacity: 0.8;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
	opacity: 1;
  }

  a{
      font-size: 30px;
      color:grey;
      text-decoration: none;
      font-family:'Nunito';
  }
  
  /*{
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  }*/
